<div class="ui three item fluid menu container">
	<div class="header item"><a href="/"><i class="fas fa-brain"></i> MemePoke</a></div>
	<a href="/memes" class="item">Swipe Memes</a>
	<a href="/matches" class="item">Poke Matches</a>
</div>