
<% include ./partials/header %>
</head>
<body>
	<% include ./partials/menu %>
	<div class="ui main text container segment">

		<h1 class="ui header">MemePoke</h1>

		<h3>The latest craze in social media</h3>
		<p>A great way to enjoy memes, and get chatting to others who share your good taste in memes - online!</p>

		<img class="ui fluid image" id = "memeimage"src="memepoke.png">

		<a class="ui green button fluid" href="/memes">Get Started!</a>
		
	</div>			

<% include ./partials/footer %>