
<% include ./partials/header %>
</head>
<body>
	<% include ./partials/menu %>
	<div class="ui main text container segment">

		<h1 class="ui header">Project Amika</h1>

		<h3>Meet Amika: your new friend</h3>
		<p>Amika is a cutting edge AI which learns to have conversations with people as you chat with it and others!</p>

		<p>Soon you will be able to have a lot of fun talking with Amika!</p>

		<div class="ui divider"></div>

		<h3>Why does this website exist?</h3>

		<p>This is a project to help gather conversational data online using real people's conversations with consensual data collection in order to help teach Amika how to talk.</p>

		<p>All you need to do is chat with other people on this site or chat with Amika when it's ready. Have a nice coherent conversation with them and DO NOT give away any personal information.</p>

		<div class="ui divider"></div>

		<h3>Do you collect my data?</h3>

		<p>As a disclaimer, all data collected is anonymous (apart from the nickname you select to be used). Each conversation will be anonymized, randomized and the only data that will be collected off of each user will be the conversations they have with others, the timestamp of each message and author of each message.</p>

		<p>By using this app you accept to this form of data collection</p>
		
	</div>			

<% include ./partials/footer %>